* {
	box-sizing: border-box;
	background-color: rgb(156, 255, 170);
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* background-color: black; */
	font-size: 3rem;
	color: black;
}

.output {
width: 50%;
height: 40vh;
background-color: white;
border: 1px solid black;
}

.button {
background-color: white;
color: black;
font-size: 2rem;
border: 1px solid black;
padding: 0.5%;
margin-top: 1%;
}